body {
  margin: 0;
}
ul {
  list-style-type: none;
  top: 20px;
  padding: 0;
  width: 263px;
  background-color: #f1f1f1;
  position: fixed;
  height: 95%;
  overflow: auto;

}

li a {
  display: block;
  color: #000;
  border: 1px solid #8abbd7;
  padding: 8px 16px;
  text-decoration: none;
  
}

li a.active {
  background-color: #8abbd7;
  color: white;
}

li a:hover:not(.active) {
  background-color: #066dab;
  color: white;
}
/*style galerie photos*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: auto;
  background-color:#f1f1f1;
  text-align :center;

}

div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  height: 200px;
  object-fit : cover;
}

div.desc {
  padding: 15px;
  text-align: center;
  height : 200px;
  width : 350px;
}
/***/
hr{
 color: black;
}

header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#066dab+0,8abbd7+69,c5deea+100 */
    background: #066dab; /* Old browsers */
    background: -moz-linear-gradient(top,  #066dab 0%, #8abbd7 69%, #c5deea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #066dab 0%,#8abbd7 69%,#c5deea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#c5deea',GradientType=0 ); /* IE6-9 */
	position: fixed;
    display: block;
	z-index: 10;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align:left;
}
h3 {
    vertical-align: auto;
    position:inherit;
    float:left;
    color: white;
    left: 5px;
}


div.Patient{
    display: inline-block;
    margin-left: 60px;
    margin-right: auto;
    color:#ffffff  ;
    font-size:115%;
    vertical-align: left;
}

.logo{
    display: inline-block;
    background:url(./images/logo.png) no-repeat;
    height: 50px;
    width: 50px;
}

span.DPAT span{
	font-size: 115%;
	color: #000000 ;
}

a {
	color: #ffffff ;
}

span.DPATIPP span{
	font-size: 115%;
	color: #000000 ;
}
a {
	color: #FF0000 ;
}

div.verif{
	position: fixed;
	float: left;
	background:#f1f1f1;
	width: 25%;
	z-index: 1;
	margin-top:20px;
	
}

div.liste{
	top: 50px;
	position: static;
}

input.bouton6 {
	border-radius:12px 0 12px 0;
	background: #478bf9;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
}

a.visucourrier {
    color:yellow;
	font-size:20px;
}

input.rechercher{
    borders-style:solid;
	
	}

/********************************************************************************************************************************/

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*background-color: black;*/
  background-color: rgba(0,0,0,0.85);
  
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 30%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  font-size: 24px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



